{% extends "_base.html" %}
{% block title %}What do you want to do?{% endblock %}

{% block content %}
<body>
<style>
nav   {background-color: #fff;border: 1px solid #dedede;border-radius: 4px;color: #888;display: block;margin: 8px 22px 8px 22px;overflow: hidden;width: 100%; margin: 0;padding: 0;}
</style>
<nav class="menu">
  <a href="/"> Home </a>| 
  <a href="/setsession"> Choose a List </a>| 
  <a href="/quiz"> Quiz </a>| 
  <a href="/study"> Study </a>| 
</nav>
<h2> Choose How YOU Want to Study </h2>
<form action="/quiz" method="GET">
<button style="height:30px;width:180px" name="quiz" type="submit" value="Enter">Multiple Choice Quiz</button>
</form>
<br> </br>
<form action="/study" method="GET">
<button style="height:30px;width:180px" name="study" type="submit" value="Enter">Study</button>
</form>
</body>
{% endblock %}