{% extends "_base.html" %}
{% block title %}Correct!{% endblock %}

{% block content %}
<body>
<style>
nav   {background-color: #fff;border: 1px solid #dedede;border-radius: 4px;color: #888;display: block;margin: 8px 22px 8px 22px;overflow: hidden;width: 100%; margin: 0;padding: 0;}
</style>
<nav class="menu">
  <a href="/"> Home </a>| 
  <a href="/setsession"> Choose a List </a>| 
  <a href="/quiz"> Quiz </a>| 
  <a href="/study"> Study </a>| 
</nav>
<h2 style="color:green;"> Correct! </h2>

<h3><u>{{correct_word}}<i> ({{correct_transliteration}})</i></u></h3>
 Definition: {{correct_definition}}
 <br>
"{{quote_ggs}}"</br>
<br> 
<form action="/quiz" method="get">
<input type="submit" value="Next Question">
</form>
</br>

</body>
{% endblock %}