{% extends "_base.html" %}
{% block title %}Correct!{% endblock %}

{% block content %}
<body>
<br></br>
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul><img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;"><font style="color:#033784;font-size:120%;"><ul class="nav nav-pills" style="float:left;"> <li><a href="/"> Gurbani Vocab </a></li></ul><br /><br></br>
<style>
mark {
    background-color: yellow;
    color: black;
}
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
<div align="left">
<font size="4"><i>Currently on List {{name_of_lis}}</i></font>
</div>
<h1 style="color:green;font-family:Geneva;"><u><strong> Correct! </strong></u></h1>
<div class="panel panel-default">
<div class="panel-body" style="background-color:#ffe5aa;">
    <h2>
        <strong>
            {{correct_word}}
        </strong>
        <i>
            ({{correct_translit}})
        </i>
    </h2>
        <font style="font-size:120%;"><u>Definition:</u>
        {{correct_def}}</font><br />
    <h4>"
    {% for word in quote_ggs %}
    {% if word == correct_word %}
        <mark>{{word}}</mark>
    {% else %}
        {{word}}
    {% endif %}
    {% endfor %}
    "</h4>
</div></div>
<br> 
<form action="/quiz" method="get">
<input class="btn btn-info" type="submit" value="Next Question">
</form>
</br>

</body>
{% endblock %}