<! DOCTYPE html>
{% extends "_base.html" %}
{% block title %}Delete Class{% endblock %}

{% block content %}
<body>
<br></br>
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;"><font style="color:#033784;font-size:120%;"><ul class="nav nav-pills" style="float:left;"> <li><a href="/"> Gurbani Vocab </a></li></ul><br /><br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
img.two {width: 100%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
<center><h2> Are you sure you want to un-enroll from {{class_name}}? </h2>
<form action="" method="POST">
    <input class="btn btn-info" type="Submit" name="yes/no" value="Yes">
    <input class="btn btn-info" type="Submit" name="yes/no" value="No">
</form>
</body>
{% endblock %}