{% extends "_base.html" %}
{% block title %}Error: Please Choose a List{% endblock %}

{% block content %}
<body>
<div align="right">
<img src="file:///C:/Users/simransoin/src/Gurmukhi_wordtest/profile.jpg"><a href="/profile">{{username}} </a>
</div>
<style>
table {background-color:#ffedc4; font-size:120%; height:30px; border: 1px solid black; text-align:center;width:100%; font-family: Verdana;}
a {font-size:120%; color: #035a9e; font-family: Verdana;}
h1 {color: #035a9e; font-family: Verdana; }
body {font-family: Verdana;}
</style>
<table border="1" style="cellpadding:100">
  <tr>
    <td><a href="/"> Home </a></td>
    <td><a href="/setsession"> Choose a List </a></td>
    <td><a href="/quiz"> Quiz </a></td>
    <td><a href="/study"> Study </a></td>
  </tr>
</table>
<h2> PLEASE CHOOSE A LIST FIRST </h2>
Unless you choose a list, there's nothing for you to study or be quizzed on!

</body>

{% endblock %}