{% extends "_base.html" %}
{% block title %}You finished!{% endblock %}

{% block content %}
<body>
<br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
 
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#035a9e;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>
<a href="/logged_out" style="float:right"> Log Out </a><a href="/profile" style="float:right">{{full_name}} |</a>
<div class="topnav" id="myTopnav" border="1" style="background-color:#ffedc4;">
    <a href="/"> Home </a>
    <a href="/setsession"> Choose a List </a>
    <a href="/quiz"> Quiz </a>
    <a href="/study"> Study </a>
    <a href="/progress"> Progress </a>
</div>
    
<center> <h1 style="font-size:350%;"><strong><u> Congratulations!! </u></strong></h1> </center>
<div class="well">
<center>You finished list {{name}}! <br />If you wish to do this list again, please <a href="/setsession">choose</a> list {{name}} again  </center>
</div>
</body>
{% endblock %}