{% extends "_base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#035a9e;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>
<a href="/signup" style="float:right"> Sign-Up </a><a href="/login" style="float:right"> Login |</a>

<center><h1 style="color:#035a9e;"><u> Welcome to Gurbani Vocab! </u></h1></center>


<br> </br>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
<body>
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <center><img src="{{url_for('static', filename='generic_studying.jpg')}}" alt="Studying" style="width:900px; height:500px;"></center>
    </div>

    <div class="item">
      <center><img src="{{url_for('static', filename='vaheguru.jpg')}}" alt="Vaheguru" style="width:900px; height:500px;"></center>
    </div>

    <div class="item">
      <center><img src="{{url_for('static', filename='guru_granth_sahib.jpg')}}" alt="Guru Granth Sahib" style="width:900px; height:500px;"></center>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br></br>
<div class="panel panel-default">
<div class="panel-body" style="background-color:#ffedc4;">
<h2 style="color:#035a9e;"><u>Evaluate</u></h2>
<br />The Quiz feature of Gurbani Vocab allows you to evaluate yourself by asking you multiple choice questions based on the vocabulary list you selected. 
The immediate results help you to immediately see the areas in which you need to improve, giving you the most efficient way to study!
</div>
</div>
<div class="panel panel-default">
<div class="panel-body"style="background-color:#ffedc4;">
<h2 style="color:#035a9e;"><u>Progress</u></h2>
<br />Track your progress per vocabulary list under the Progress tab. Email the results to your teacher or just watch as your grades improve!
</div>
</div>
<div class="panel panel-default">
<div class="panel-body"style="background-color:#ffedc4;">
<h2 style="color:#035a9e;"><u>Learn</u></h2>
<br />Go to the Study tab to look at the entire vocabulary list and review before you evaluate yourself!
</div>
</div>

</body>
{% endblock %}