{% extends "_base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<body>
<style>
nav   {background-color: #fff;border: 1px solid #dedede;border-radius: 4px;color: #888;display: block;margin: 8px 22px 8px 22px;overflow: hidden;width: 100%; margin: 0;padding: 0;}
</style>
<nav class="menu">
  <a href="/"> Home </a>| 
  <a href="/setsession"> Choose a List </a>| 
  <a href="/quiz"> Quiz </a>| 
  <a href="/study"> Study </a>| 
</nav>
<center><h1> Welcome to the Gurmukhi Quiz App! </h1> </center>
<br> </br>
What is this page all about? Heres a description and reason why this is necessary. I have not yet written it. But there is one. I promise. 
</body>

{% endblock %}