<! DOCTYPE html>
{% extends "_base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:50%;}
img.two {width: 100%;}
</style>

<body>
<ul class="nav nav-pills" style="float:right;">
    <li><a href="/profile"> {{full_name}} </a></li>
    <li><a href="/logged_out"> Log Out</a></li>
</ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;">

<font style="color:#033784;font-size:120%;">
<ul class="nav nav-pills" style="float:left;">
    <li><a href="/"> Gurbani Vocab </a></li>
</ul><br />
<br></br>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
</div>

s<h1 style="color:#033784;font-family:Geneva;font-size:420%;"> Welcome to Gurbani Vocab! <sup><font style="font-size:30%">BETA</font></sup></h1>

<br> </br>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
<body>
<div class="container" style="width: 80%;">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <center><img src="{{url_for('static', filename='guru_granth_sahib.jpg')}}" alt="Guru Granth Sahib" class="two"></center>
    </div>

    <div class="item">
      <center><img src="{{url_for('static', filename='mool_mantr.png')}}" alt="Mool Mantr" class="two"></center>
    </div>
  </div>



  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br></br>
<div class="panel panel-default">
<div class="panel-body" style="background-color:#ffe5aa;">
<h1 style="color:#033784; font-size: 290%;"><strong>Features of the Application</strong></h1>
<font style="font-size:180%; color:#033784;">Evaluate</font>
<br />The Quiz feature of Gurbani Vocab allows you to evaluate yourself by asking you multiple choice questions based on the vocabulary list you select. 
The instant results help you to immediately see the areas in which you need to improve, giving you the most efficient way to study!<br></br>
<font style="font-size:180%; color:#033784;">Progress</font>
<br />Track your progress per vocabulary list under the Progress tab. Under your profile, download your results and send them to your teacher or just watch as your grades improve!<br></br>
<font style="font-size:180%; color:#033784;">Learn</font>
<br />Go to the Study tab to look at the entire vocabulary list and review before you evaluate yourself!<br></br>
</div>
</div>
</body>
{% endblock %}