{% extends "_base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<body>
<style>
table {background-color:#ffedc4; font-size:120%; height:30px; border: 1px solid black; text-align:center;width:100%; font-family: Verdana;}
a {font-size:120%; color: #035a9e; font-family: Verdana;}
h1 {color: #035a9e; font-family: Verdana; }
body {font-family: Verdana;}
</style>
<div align="right">
<a href="/login"> Login </a> |
<a href="/signup"> Sign-Up </a>
</div>
<center><h1> Welcome to Gurbani Vocab! </h1> </center>
<br> </br>
<center>What is this all about? Heres a description and reason why this is necessary. I have not yet written it. But there is one. I promise. </center>
</body>

{% endblock %}