{% extends "_base.html" %}
{% block title %}Incorrect{% endblock %}

{% block content %}
<body>
<style>
table {font-size:120%; height:30px; border: 1px solid black; text-align:center;width:100%; }
</style>
<table border="1" style="cellpadding:100">
  <tr>
    <td><a href="/"> Home </a></td>
    <td><a href="/setsession"> Choose a List </a></td>
    <td><a href="/quiz"> Quiz </a></td>
    <td><a href="/study"> Study </a></td>
  </tr>
</table>
<h2 style="color:red;"> Incorrect </h2>

<h3><u>{{correct_word}}<i> ({{correct_translit}})</i></u></h3>
 Definition: {{correct_definition}}
 <br>
"{{quote_ggs}}"</br>
<br> 
<form action="/quiz" method="get">
<input type="submit" value="Next Question">
</form>
</br>

</body>
{% endblock %}
