<! DOCTYPE html>
{% extends "_base.html" %}
{% block title %}My Classes{% endblock %}

{% block content %}
<br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:25%;}
img.two {width: 100%;}
img.logo {max-width:20%;min-width:144px; min-height:30px}
</style>

<body>
<ul class="nav nav-pills" style="float:right;">
    <li><a href="/profile_teacher"> {{full_name}} </a></li>
    <li><a href="/logged_out"> Log Out</a></li>
</ul>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br /><br></br>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/my_classes"><b> My Classes </b></a>
    <a href="/list_info"><b> List Information </b></a>
    <a href="/make_a_list"><b> Make a List </b></a>
</div>
<center><u><h2> List Information </h2></u></center>
{% for item in lists %}
        <h2 style="color:#033784;">{{item}}</h2>
        <table>
            <tr>
                <center><th>Word</th></center>
                <center><th>Transliteration</th></center>
                <center><th>Definition</th></center>
            </tr>
        {% for word in lists[item] %}
            <tr>
                <td>{{word.word}}</td>
                <td>{{word.transliteration}}</td>
                <td>{{word.definition}}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}
</body>
