{% extends "_base.html" %}
{% block title %}List Selected!{% endblock %}

{% block content %}
<body>
<br></br>
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br /><br></br>
<style>
img.logo {max-width:20%;min-width:144px; min-height:30px}
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
<h2 style="color:#033784;"> You Selected List {{name}}! </h2>
<h4> Now that you've selected a list, you can go get <a href="/quiz">quizzed</a> or <a href="/study">study</a>. </h4>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</body>
{% endblock %}