{% extends "_base.html" %}
{% block title %}List Selected!{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#035a9e;font-size:120%;"><strong> Gurbani Vocab </strong></font>
<a href="/logged_out" style="float:right"> Log Out </a><a href="/profile" style="float:right">{{full_name}} |</a>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:25%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#ffedc4;">
    <a href="/"> Home </a>
    <a href="/setsession"> Choose a List </a>
    <a href="/quiz"> Quiz </a>
    <a href="/study"> Study </a>
</div>
<h2 style="color:#035a9e;"> You Selected List {{name}}! </h2>
<h4> Now that you've selected a list, you can go get <a href="/quiz">quizzed</a> or <a href="/stuy">study</a>. </h4>

</body>
{% endblock %}