{% extends "_base.html" %}
{% block title %}List Selected!{% endblock %}

{% block content %}
<body>
<br></br>
<div align="right"><a href="/profile">{{full_name}} </a> |
        <a href="/logged_out">Log Out </a>
</div>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:25%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#ffedc4;">
    <a href="/"> Home </a>
    <a href="/setsession"> Choose a List </a>
    <a href="/quiz"> Quiz </a>
    <a href="/study"> Study </a>
</div>
<h2 style="color:#035a9e;"> You Selected List {{name}}! </h2>
<h4> Now that you've selected a list, you can go get <a href="/quiz">quizzed</a> or <a href="/stuy">study</a>. </h4>

</body>
{% endblock %}