{% extends "_base.html" %}
{% block title %}Make a list{% endblock %}

{% block content %}
<body>
<br></br>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br />
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul><br /><br></br>
<style>
img.logo {max-width:20%;min-width:144px; min-height:30px}

.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:25%;}
th {text-align: center; font-size: 130%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/my_classes"><b> My Classes </b></a>
    <a href="/list_info"><b> List Information </b></a>
    <a href="/make_a_list"><b> Make a List </b></a>
</div>
<center>
<h1 style="color:#033784;font-size:300%; font-family:Geneva;"><strong>Make a List</strong></h1>
<form action="" method="POST">
<table style="width:93%;background-color:white;" border="1">
<tr>
    <th>Word</th>
    <th>Transliteration</th> 
    <th>Definition</th>
    <th>Status</th>
</tr>
{% for word in masterlist %}
<tr>
    <td>{{word.word}}</td>
    <td>{{word.transliteration}} </td>
    <td>{{word.definition}}</td>
    <td><input type="checkbox" name="word" value="{{word._id}}"></td>
{% endfor %}
</table>
</center>
<br></br>
List Name:
<input type="text" name="list_name">
<br></br>
<input class="btn btn-info" type="submit" value="Make my List" required>
</form>

</body>
{% endblock %}