<! DOCTYPE html>
{% extends "_base.html" %}
{% block title %}My Classes{% endblock %}

{% block content %}
<br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:33.33333%;}
img.two {width: 100%;}
img.logo {max-width:20%;min-width:144px; min-height:30px}
</style>

<body>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br />
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul><br /><br></br>

<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/my_classes"><b> My Classes </b></a>
    <a href="/list_info"><b> List Information </b></a>
</div>
<center><h2> My Classes </h2></center>

<form action="/add_class">
<input type="submit" class="btn btn-info" value="+ Create a class" style="font-size:100%">
</form>
{% if classes|length < 1 %}
    <center><h3 style="color:#033784;"> Create a class with a custom class code. Give the class code to your students
    and watch their grades improve! </h3></center>
{% else %}
    {% for item in classes %}
        <h3><u>{{item}}</u></h3>
        <blockquote>
        <strong>Class Code:</strong> {{classes[item]}}<br />
        <strong>Students Enrolled: </strong>
        {% if students[item]|length < 1 %}
            None
        {% else %}
        <ul>
        {% for student in students[item] %}
            {% set number = range(0, 900000000000000) | random %}
                <li>{{student}}
                <button data-toggle="collapse" data-target="#demo{{number}}" style="font-size:60%;">View Report</button>
                    <div id="demo{{number}}" class="collapse">
                    <blockquote>{% for vocab_list in students[item][student] %}
                        List {{vocab_list}} : {{students[item][student][vocab_list][0]}}% ;  Questions Answered: {{students[item][student][vocab_list][1]}}<br />
                    {% endfor %}</bloquote>
                    </div>
                </li>
        {% endfor %}
        </ul>
        {% endif %}</blockquote>

{% endfor %}
 {%endif%}
</body>
{% endblock %}