{% extends "_base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<body>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br></br>

<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#033784;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>
<br></br><style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:50%;}
</style>
    <div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
</div>
    <center><br></br><font style="font-size:150%"><strong>{{full_name}}</strong></font><br />
  <input style="color:#033784; border: none;background: none;" type="button" data-toggle="collapse" data-target="#demo" value="More info">
    <div id="demo" class="collapse">
    <u>Username</u>: {{username}}<br />
    <u>Email</u>: {{email}}
  </div></center>
<div> 
            <h2><u>PROGRESS REPORT:</u></h2>
            {% if od|length < 1 %}
                no data to display
            {% else %}
                {% for vocab_lis in od %}
                    <u><font style="font-size:120%;">List {{vocab_lis}}:</font></u> <br />
                    <blockquote><i>Percentage Accuracy: {{od[vocab_lis]["percent_accuracy"]}}%</i> <br />
                    <div class="progress" style="width:60%;">
                        <div class="progress-bar progress-bar-success" style="width: {{od[vocab_lis]["percent_accuracy"]}}%"></div>
                        <div class="progress-bar progress-bar-danger" style="width: {{od[vocab_lis]["percent_inaccuracy"]}}%"></div>
                    </div>
                    <i>Correct Words:</i> 
                    <font style="color:#029102;">
                                    {% if od[vocab_lis]["correct_words"]|length < 1 %}
                                        <font style="font-size:100%;"> NONE </font>
                                    {% else %}
                                    <ul>
                                        {% for word in od[vocab_lis]["correct_words"] %}
                                            <li> {{word}} </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}</font>
                    <br /><i>Incorrect Words:</i> <font style="color:#d1160c;">
                                    {% if od[vocab_lis]["wrong_words"]|length < 1 %}
                                        <font style="font-size:100%;"> NONE </font>
                                    {% else %}
                                    <ul>
                                        {% for word in od[vocab_lis]["wrong_words"] %}
                                            <li> {{word}} </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}</font></blockquote>
                {% endfor %}
            {% endif %}
    </div>
</body>
{% endblock %}