{% extends "_base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<body>
<style>
table {font-size:120%; height:30px; border: 1px solid black; text-align:center;width:100%; }
</style>
<table border="1" style="cellpadding:100">
  <tr>
    <td><a href="/"> Home </a></td>
    <td><a href="/setsession"> Choose a List </a></td>
    <td><a href="/quiz"> Quiz </a></td>
    <td><a href="/study"> Study </a></td>
  </tr>
</table>
<center><h2> My Profile </h2> </center>
<h4> Email:   </h4> {{email}}
<h4> Username:   </h4> {{username}}
<br> </br>
<a href="/logged_out"> Log Out </a>
</body>
{% endblock %}