{% extends "_base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<body>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br></br>

<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br /><br></br>
<style>
img.logo {max-width:20%;min-width:144px; min-height:30px}
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:50%;}
</style>
    <div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
</div>
    <center><h1 style="color:#033784;font-size:300%; font-family:Geneva;"><strong> {{full_name}} </strong></h1>
  <input style="color:#033784; border: none;background: none;" type="button" data-toggle="collapse" data-target="#demo" value="More info"></center>
    <div id="demo" class="collapse" text-align="left" style="margin-left: 40%;">
    <u>Username</u>: {{username}}<br /></font>
    <u>Email</u>: {{email}}<br />
    <u>Gender</u>: {{gender}}<br></br>
    <a href="/edit_info" class="btn btn-info" style="margin-left: 10%;">Edit Info</a>
  </div>
  <div>
 <h2 style="color:#033784;font-size:180%; font-family:Geneva;"><strong> Classes:</strong></h2>
  {% if class_name %}
  <form action="/delete_class">
 <blockquote><font style="font-size:130%;"><u><strong>{{class_name}}</u> 
 <input type="Submit" value="Delete" style="font-size:49%;">
 </strong></font><br />
 {{teacher_name}}</form>
    </blockquote>
    {% else %}
    <div class="panel panel-default" style="width:15%; padding: 5px;">
        <a href="/enroll_in_class"> + Enroll in a class </a>
    </div>
    {% endif %}
</div>
  
<div> 
            <h2 style="color:#033784;font-size:180%; font-family:Geneva;"><strong> Progress Report </strong></h2>
            {% if od|length < 1 %}
                You should start practicing!
            {% else %}
                {% for vocab_lis in od %}
                    <u><font style="font-size:120%;">List {{vocab_lis}}:</font></u> <br />
                    <blockquote>Percentage Accuracy: {{od[vocab_lis]["percent_accuracy"]}}% <br />
                    <div class="progress progress-striped active" style="width:70%;">
                        <div class="progress-bar progress-bar-success" style="width: {{od[vocab_lis]["percent_accuracy"]}}%"></div>
                        <div class="progress-bar progress-bar-danger" style="width: {{od[vocab_lis]["percent_inaccuracy"]}}%"></div>
                    </div>
                    Correct Words:
                    <font style="color:#029102;">
                                    {% if od[vocab_lis]["correct_words"]|length < 1 %}
                                        <font style="font-size:100%;"> N/A </font>
                                    {% else %}
                                    <ul>
                                        {% for word in od[vocab_lis]["correct_words"] %}
                                            <li> {{word}} </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}</font>
                    <br />Incorrect Words: <font style="color:#d1160c;">
                                    {% if od[vocab_lis]["wrong_words"]|length < 1 %}
                                        <font style="font-size:100%;"> N/A </font>
                                    {% else %}
                                    <ul>
                                        {% for word in od[vocab_lis]["wrong_words"] %}
                                            <li> {{word}} </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}</font></blockquote>
                {% endfor %}
            {% endif %}
    </div>
<br></br>
<a href="/MyProgressReport" name="MyProgressReport" class="btn btn-info" download>Download Progress Report </a>
</body>
{% endblock %}