{% extends "_base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#035a9e;font-size:120%;"><strong> Gurbani Vocab </strong></font>
<a href="/logged_out" style="float:right"> Log Out </a><a href="/profile" style="float:right">{{full_name}} |</a>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:25%;}
</style>
    <div class="topnav" id="myTopnav" border="1" style="background-color:#ffedc4;">
    <a href="/"> Home </a>
    <a href="/setsession"> Choose a List </a>
    <a href="/quiz"> Quiz </a>
    <a href="/study"> Study </a>
</div>
    
    <center><h2><strong> My Profile </strong></h2> </center>
    
    <div style="width: 100%; overflow: hidden;">
        <div style="width:50%; float: left;"> 
            <h4> <strong>Email:</strong></h4> {{email}}
            <h4> <strong>Username:</strong></h4> {{username}}
            <br> </br>
        </div>
        
        
        <div style="margin-left:65%;"> 
            <h4><strong>PROGRESS REPORT:</strong></h4>
            {% if od|length < 1 -%}
                no data to display
            {% else -%}
                {% for vocab_lis in od %}
                    <u>List {{vocab_lis}}:</u> <br />
                    <i>Percentage Accuracy: {{od[vocab_lis]["percent_accuracy"]}}%</i> <br />
                    <i>Questions answered: {{od[vocab_lis]["total_questions"]}}</i><br></br>
                {%endfor%}
            {%endif%}
                
        </div>
    </div>
</body>
{% endblock %}