{% extends "_base.html" %}
{% block title %}Progress Report{% endblock %}

{% block content %}
<body>
<br></br>
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;"><font style="color:#033784;font-size:120%;"><ul class="nav nav-pills" style="float:left;"> <li><a href="/"> Gurbani Vocab </a></li></ul><br /><br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
    <h1 style="color:#033784;font-size:300%; font-family:Geneva;"><strong> Progress for List {{current_list}} </strong></h1>
{% if no_questions %}
    <font style="font-size:160%;"><center> You should start practicing! </center></font>
{% else %}
     <font style="font-size:200%;"><u>Percent Accuracy:</u></font><font style="font-size:240%;">  {{percent_accuracy}}% </font><br />
    <blockquote><font style="font-size:110%;"> Correct Words </font>
    <font style="color:#029102;">
    <ul>
        {% if correct_words|length < 1 %}
            <font style="font-size:100%;"> N/A </font>
        {% else %}
            {% for word in correct_words %}
            
                <li> {{word}} </li>
            {% endfor %}
        {% endif %}
    </ul></font>
    <font style="font-size:110%;"> Incorrect Words </font>
    <font style="color:#d1160c;">
    <ul>
        {% if wrong_words|length < 1 %}
            <font style="font-size:100%;"> N/A </font>
        {% else %}
            {% for word in wrong_words %}
                <li> {{word}} </li>
            {% endfor %}
        {% endif %}
    </ul></font>
    <div class="progress" style="width:100%;">
                <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: {{percent_accuracy}}%"></div>
        <div class="progress-bar progress-bar-danger" style="width: {{percent_inaccuracy}}%"></div>
    </div></blockquote>
<br></br>
<br></br>
Go to <a href="/profile"> Profile </a> to see full progress report of all vocab lists
  
{% endif %}
</body>
{% endblock %}

