{% extends "_base.html" %}
{% block title %}Progress Report{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#035a9e;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>
<a href="/logged_out" style="float:right"> Log Out </a><a href="/profile" style="float:right">{{full_name}} |</a>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#ffedc4;">
    <a href="/"> Home </a>
    <a href="/setsession"> Choose a List </a>
    <a href="/quiz"> Quiz </a>
    <a href="/study"> Study </a>
    <a href="/progress"> Progress </a>
</div>
    <center><h1> Progress for {{current_list}}: </center></h1>
{% if no_questions %}
    <font style="font-size:160%;"><u> Not Enough Data to compile Progress Report.</u></font>
{% else %}
     <font style="font-size:250%;"><u>Percent Accuracy:</u> {{percent_accuracy}}% </font><br />
     <blockquote><font style="font-size:120%;"><u>Number Correct :</u> {{right}}</font><br />
     <font style="font-size:120%;"><u>Number Wrong:</u> {{wrong}}</font><br /></blockquote>
<br></br>
<br></br>
Go to <a href="/profile"> Profile </a> to see full progress report of all vocab lists
  
{% endif %}
</body>
{% endblock %}

