{% extends "_base.html" %}
{% block title %}Quiz Me!{% endblock %}

{% block content %}
<body>
<br></br>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br />
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul><br /><br></br>
<style>
img.logo {max-width:20%;min-width:144px; min-height:30px}

.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
    <div align="left">
        <font size="4"><i>Currently testing {{name_of_lis}}</i></font>
    </div>
      
    <h3 style="color:#033784;font-size:180%; font-family:Geneva;"><strong>Which of these words is the correct definition for {{correct_word}}?</strong></h3>
    <form action="" method="post">
        {% for item in list_of_options %}
            <INPUT TYPE="radio" name="options" value="{{item}}" required="required"> {{item}}
            <br> </br>
        {%endfor%}
        <br> </br>
        <input class="btn btn-info" type="submit" value="Submit Answer">
    </form>
</body>
{% endblock %}

