{% extends "_base.html" %}
{% block title %}Quiz Me!{% endblock %}

{% block content %}
<body>
<style>
nav   {background-color: #fff;border: 1px solid #dedede;border-radius: 4px;color: #888;display: block;margin: 8px 22px 8px 22px;overflow: hidden;width: 100%; margin: 0;padding: 0;}
</style>
<nav class="menu">
  <a href="/"> Home </a>| 
  <a href="/setsession"> Choose a List </a>| 
  <a href="/quiz"> Quiz </a>| 
  <a href="/study"> Study </a>| 
</nav>
<h3>Which of these words is the correct definition for {{correct_word}}?</h3>

<form action="" method="post">
{% for item in list_of_options %}
  <INPUT TYPE="radio" name="options" value="{{item}}"> {{item}}
  <br> </br>
{%endfor%}

<input type="submit" value="Submit Answer">

</form>


</body>
{% endblock %}

