{% extends "_base.html" %}
{% block title %}Quiz Me!{% endblock %}

{% block content %}
<body>
<br></br>
    <div align="right"><a href="/profile">{{full_name}} </a> |
        <a href="/logged_out">Log Out </a>
    </div>
    <style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:25%;}
</style>
    <div class="topnav" id="myTopnav" border="1" style="background-color:#ffedc4;">
    <a href="/"> Home </a>
    <a href="/setsession"> Choose a List </a>
    <a href="/quiz"> Quiz </a>
    <a href="/study"> Study </a>
</div>
    <div align="left">
        <font size="4"><i>Currently on {{name_of_lis}}</i></font>
    </div>
    <h3><u>Which of these words is the correct definition for {{correct_word}}?</u></h3>
    <form action="" method="post">
        {% for item in list_of_options %}
            <INPUT TYPE="radio" name="options" value="{{item}}"> {{item}}
            <br> </br>
        {%endfor%}
        
        <input class="btn btn-info" type="submit" value="Submit Answer">
    </form>
</body>
{% endblock %}

