{% extends "_base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#035a9e;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>

<center><h2> Reset Password </h2> </center>
<form action="" method="POST">
  New Password: <input type="password" name="pass"><br>
  Confirm Password: <input type="password" name="c_pass"><br>
  <input class="btn btn-info" type="submit" value="Submit">
</form>
</body>
{% endblock %}