{% extends "_base.html" %}
{% block title %}Choose your list{% endblock %}

{% block content %}
<body>
<br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
</style>
 

<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#033784;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>
<br></br>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
<h3> Which vocabulary list would you like to be tested on? </h3>
<form class= "well" action="/setsession" method="post">
<select name="current_list">
  <option value= "List1"> List 1</option>
  <option value= "List2"> List 2</option>
  <option value= "List3"> List 3</option>
  <option value= "List4"> List 4</option>
  <option value= "List5"> List 5</option>
</select>
<br></br>
<input class="btn btn-info" type="submit" value="Submit">
</form>
</body>
{% endblock %}
