{% extends "_base.html" %}
{% block title %}Choose your list{% endblock %}

{% block content %}
<body>
<style>
table {font-size:120%; height:30px; border: 1px solid black; text-align:center;width:100%; }
</style>
<table border="1" style="cellpadding:100">
  <tr>
    <td><a href="/"> Home </a></td>
    <td><a href="/setsession"> Choose a List </a></td>
    <td><a href="/quiz"> Quiz </a></td>
    <td><a href="/study"> Study </a></td>
  </tr>
</table>
<h3> Which list would you like to be tested on? </h3>
<form action="/setsession" method="post">
<select name="current_list">
  <option value= "List1"> List 1</option>
  <option value= "List2"> List 2</option>
  <option value= "List3"> List 3</option>
</select>
<br> </br>
<input type="submit" value="Submit">
</form>
</body>
{% endblock %}
