{% extends "_base.html" %}
{% block title %}Choose your list{% endblock %}

{% block content %}
<body>
<br></br>
<style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:20%;}
button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
</style>
 

<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;"><font style="color:#033784;font-size:120%;"><ul class="nav nav-pills" style="float:left;"> <li><a href="/"> Gurbani Vocab </a></li></ul>
<br /><br></br>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
    <a href="/quiz"><b> Quiz </b></a>
    <a href="/study"><b> Study </b></a>
    <a href="/progress"><b> Progress </b></a>
</div>
<h3 style="color:#033784;font-size:200%; font-family:Geneva;"><strong>Which vocabulary list would you like to be tested on? </strong></h3>
<form action="/setsession" method="post">
<ul id="hp-subject-grid">
<li class="hp-subject-grid-margin" ><center><a><button class="gridLink" name="current_list" value="List1">List 1</button></a></center></li>
<li class="hp-subject-grid-margin"><center><a><button class="gridLink" name="current_list" value="List2">List 2</button></a></center></li>
<li class="hp-subject-grid-margin"><center><a><button class="gridLink" name="current_list" value="List3">List 3</button></a></center></li>
<li class="hp-subject-grid-margin"><center><a><button class="gridLink" name="current_list" value="List4">List 4</button></a></center></li>
<li class="hp-subject-grid-margin"><center><a><button class="gridLink" name="current_list" value="List5">List 5</button></a></center></li>
</ul>
</form>
</body>
{% endblock %}
