{% extends "_base.html" %}
{% block title %}Choose your list{% endblock %}

{% block content %}
<body>
<br></br>
<ul class="nav nav-pills" style="float:right;"> <li><a href="/profile"> {{full_name}} </a></li><li><a href="/logged_out"> Log Out</a></li></ul>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;"><font style="color:#033784;font-size:120%;"><ul class="nav nav-pills" style="float:left;"> <li><a href="/"> Gurbani Vocab </a></li></ul><br /><br></br><style>
.topnav a {float: left;display: block; text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;width:50%;}
</style>
<div class="topnav" id="myTopnav" border="1" style="background-color:#f7cd6a;">
    <a href="/"><b> Home </b></a>
    <a href="/setsession"><b> Choose a List </b></a>
</div>
<h3 style="color:#033784;font-size:180%; font-family:Geneva;"><strong>Which vocabulary list would you like to be tested on? </strong></h3>
<div class="panel panel-default">
<div class="panel-body" style="background-color:#ffe5aa;">
<form action="/setsession" method="post">
<select name="current_list">
  <option value= "List1"> List 1</option>
  <option value= "List2"> List 2</option>
  <option value= "List3"> List 3</option>
  <option value= "List4"> List 4</option>
  <option value= "List5"> List 5</option>
</select>
<br></br>
<input class="btn btn-info" type="submit" value="Submit">
</form></div></div>
</body>
{% endblock %}
