{% extends "_base.html" %}
{% block title %}Choose your list{% endblock %}

{% block content %}
<body>
<style>
nav   {background-color: #fff;border: 1px solid #dedede;border-radius: 4px;color: #888;display: block;margin: 8px 22px 8px 22px;overflow: hidden;width: 100%; margin: 0;padding: 0;}
</style>
<nav class="menu">
  <a href="/"> Home </a>| 
  <a href="/setsession"> Choose a List </a>| 
  <a href="/quiz"> Quiz </a>| 
  <a href="/study"> Study </a>| 
</nav>
<h3> Which list would you like to be tested on? </h3>
<form action="/setsession" method="post">
<select name="current_list">
  <option value= "List1"> List 1</option>
  <option value= "List2"> List 2</option>
  <option value= "List3"> List 3</option>
</select>
<br> </br>
<input type="submit" value="Submit">
</form>
</body>
{% endblock %}
