{% extends "_base.html" %}
{% block title %}Sign-Up{% endblock %}

{% block content %}
<body>
<br></br>
<ul class="nav nav-pills" style="float:right;"> <li><a href="/login"> Log In</a></li></ul>
<a href="/"><img src="{{url_for('static', filename='GurbaniVocabLogo.png')}}" style="float:left;" class="logo"></a><br /><br></br>
<style>
img.logo {max-width:20%;min-width:144px; min-height:30px}
</style>
<center><h2> Sign-Up (Student) </h2> </center>
<font style="color: red; font-size:130%;"><b> {{message}} </b></font>
<form action="" method="POST" class="form-horizontal">
  <label for="inputFirstName" class="col-md-3 control-label">First Name: </label>
    <input type="text" name="f_name" id="inputFirstName" value="{{f_name}}" required><br></br>
  <label for="inputLastName" class="col-md-3 control-label">Last Name: </label>
    <input id="inputLastName" type="text" name="l_name" value="{{l_name}}" required><br></br>
  <label for="inputUser" class="col-md-3 control-label">Username: </label>
    <input type="text" id="inputUser" name="user" value="{{user}}" required><br></br>
  <label for="inputCUser" class="col-md-3 control-label">Confirm Username: </label>
    <input type="text" id="inputCUser" name="c_user" value="{{c_user}}" required><br></br>
  <label for="inputPass" class="col-md-3 control-label">Password: </label>
    <input type="password" id="inputPass" name="pass" pattern=".{8,}"  value="{{pass_word}}" required title="8 characters minimum"><br></br>
  <label for="inputCPass" class="col-md-3 control-label">Confirm Password: </label>
    <input type="password" id="inputCPass" name="c_pass" pattern=".{8,}" value="{{c_pass}}"  required title="8 characters minimum"><br></br>
  <label for="inputEmail" class="col-md-3 control-label">Email: </label>
    <input type="text" id="inputEmail" name="email" value="{{email}}" required><br></br>
  <label for="inputSecurityWord" class="col-md-3 control-label">Security Word: </label>
    <input type="text" id="inputSecurityWord" name="security_word" value="{{security_word}}" required><br></br>
  <label for="inputGender" class="col-md-3 control-label">Gender: </label>
    <INPUT TYPE="radio" name="gender" value="{{gender}}" checked> {{gender}}
    {% for item in other_genders %}
    <INPUT TYPE="radio" name="gender" value="{{item}}"> {{item}}
    {%endfor%}<br></br>
<input class="btn btn-info" type="submit" value="Submit">
</form>
</body>
{% endblock %}
