{% extends "_base.html" %}
{% block title %}Study{% endblock %}

{% block content %}
<body>
<style>
nav   {background-color: #fff;border: 1px solid #dedede;border-radius: 4px;color: #888;display: block;margin: 8px 22px 8px 22px;overflow: hidden;width: 100%; margin: 0;padding: 0;}
</style>
<nav class="menu">
  <a href="/"> Home </a>| 
  <a href="/setsession"> Choose a List </a>| 
  <a href="/quiz"> Quiz </a>| 
  <a href="/study"> Study </a>| 
</nav>
<h2> <center> Study </center> </h2>
<center>
<table style="width:65%" border="1">
  <tr>
    <th>Word</th>
    <th>Transliteration</th> 
    <th>Definition</th>
  </tr>
  {% for item in all_words %}
  <tr>
    <td>{{item.word}} </td>
    <td>{{item.transliteration}} </td>
    <td>{{item.definition}} </td>
  </tr>
  {% endfor %}
</table>
</center>

</body>
{% endblock %}