{% extends "_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38"><font style="color:#033784;font-size:120%;"><strong><a href="/"> Gurbani Vocab </a></strong></font>
<center><h2> Forgot Password </h2> </center>
<form action="" method="POST">
  Username: <input type="text" name="user"><br>
  Security Word: <input type="text" name="security_word"><br>
  <input class="btn btn-info" type="submit" value="Submit">
</form>
</body>
{% endblock %}