{% extends "_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<body>
<br></br>
<img src="{{url_for('static', filename='ek_onkaar.jpg')}}" width="40" height="38" style="float:left;"><font style="color:#033784;font-size:120%;"><ul class="nav nav-pills" style="float:left;"> <li><a href="/"> Gurbani Vocab </a></li></ul><br /><br></br>
<form action="" method="POST">
  Username: <input type="text" name="user"><br>
  Security Word: <input type="text" name="security_word"><br>
  <input class="btn btn-info" type="submit" value="Submit">
</form>
</body>
{% endblock %}